body {
  background-color: black;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
  white-space: nowrap;
  transition: transform 0.1s ease-out;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
  flex-shrink: 0;
  transition: object-position 0.1s ease-out;
}

#image-track > .image:hover {
  transform: scale(1.02);
}

.image.expanded {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 80vw !important;
  height: 80vh !important;
  z-index: 1000;
  object-fit: contain !important;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-out;
  z-index: 999;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

/*.meta-link {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  transition: background 0.3s ease;
}

.meta-link:hover {
  background: rgba(0, 0, 0, 0.8);
}

  */